html {
  margin: 0;
  padding: 0;
}

body {
  font: 85% Calibri Light;
  line-height: 1.88889;
  background: #ffffff;
  margin: 0;
  padding: 0;
  width: 100%;
  background: #e6e6e6;
}

h1 {
  text-transform: capitalize;
  text-align: center;
  font-size: 3em;
}

h2 {
  font: italic normal 1.4em Calibri Light;
	letter-spacing: 1px;
	margin-bottom: 0;
}

a:link {
	font-weight: bold;
	text-decoration: none;
	color: #3399ff;
}

a:visited {
	font-weight: bold;
	text-decoration: none;
	color: #99ccff;
}

a:hover, a:focus, a:active {
	text-decoration: underline;
	color: #003366;
}

p {
  margin-top: 0;
	text-align: justify;
}

form {
	max-width: 400px;
	min-width: 400px;
}

.pageWrapper {
  background: #e6e6e6;
  padding: 20px 175px 20px 110px;
  margin: 0 auto;
  position: relative;
  width: 870px;
  box-sizing: border-box;
}

.btn_group button {
  display: block;
  width: 100%;
}

.txtBox {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


button {
  padding: 12px 20px;
  background-color: #4CAF50;
  margin: 8px 0;
  display: inline-block;
  color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button:hover {
  background-color: #0d6b08;
}

#client_list {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
}

#client_list th, #client_list td {
    text-align: left;
    padding: 12px;
}

#client_list tr {
    border-bottom: 1px solid #ddd;
}

#client_list tr.header, #myTable tr:hover {
    background-color: #f1f1f1;
}

#load_all {
	padding: 20px;
	width: 100%;
	float: none;
	width: 100%;
	margin: auto auto;
	box-sizing: border-box;
}

#admin_page {
  width: 100%;
  padding: 0.5em;
}

@media screen and (max-width:450px) {
	#load_all {
		padding:15px 0;
	}
}

/*---------------------CSS GRID----------------------*/

.sidebar {
  grid-area: sidebar;
}

.content {
  grid-area: content;
}

.header {
  grid-area: header;
}

.wrapper {
  display: grid;
  grid-template-areas:
    "header header header"
    "sidebar content content";
}

.name {
  grid-area: name;
}

.info {
  grid-area: info;
}

.notes {
  grid-area: notes;
}

.client_load {
  display: grid;
  grid-template-areas:
  "name name name"
  "info info info"
  "notes notes notes";
}

.box {
  background-color: #444;
  color: #fff;
  padding: 20px;
}

.header {
  background-color: #999;
}

.sidebar {
  max-width: 250px;
}

.content {

}
