html {
  margin: 0;
  padding: 0;
}

body {
  font: 85% Calibri Light;
  line-height: 1.88889;
  background: #ffffff;
  margin: 0;
  padding: 0;
  width: 100%;
  background: #e6e6e6;
}

h1 {
  text-transform: capitalize;
  text-align: center;
  font-size: 3em;
}

h2 {
  font: italic normal 1.4em Calibri Light;
	letter-spacing: 1px;
	margin-bottom: 0;
}

a:link {
	font-weight: bold;
	text-decoration: none;
	color: #3399ff;
}

a:visited {
	font-weight: bold;
	text-decoration: none;
	color: #99ccff;
}

a:hover, a:focus, a:active {
	text-decoration: underline;
	color: #003366;
}

p {
  margin-top: 0;
	text-align: justify;
}

form {
	max-width: 400px;
	min-width: 400px;
}

.pageWrapper {
  background: #e6e6e6;
  padding: 20px 175px 20px 110px;
  margin: 0 auto;
  position: relative;
  width: 870px;
  box-sizing: border-box;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  padding: 12px 20px;
  background-color: #4CAF50;
  margin: 8px 0;
  display: inline-block;
  color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button:hover {
  background-color: #0d6b08;
}

#welcome_div {
  position:relative;
  float: right;
}

#load_all {
	padding: 20px;
	width: 100%;
	float: none;
	width: 100%;
	margin: auto auto;
	box-sizing: border-box;
}

@media screen and (max-width:450px) {
	#load_all {
		padding:15px 0;
	}
}
